html, body{
    width : 100%;
    height : 100%;
}

.bkg{
    width : 100%;
    height : 100%;
    background-image: url("../images/bkg_road.jpg") ;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; 
    
}
.grid_dot{
    width : 100%;
    height : 100%;
    background-image: url("../images/dot_small.png");
    position: absolute;
    top: 0;
    z-index: 10;
}
.contents{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -225px;
    margin-top: -235px;
    z-index: 20;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
}
.contents_name{
    font-size: 46px;
    margin-bottom: 20px;
}
.contents_intro{
    font-size: 26px;
    margin-top:0px;
    margin-bottom:80px;
        
}
.contents_menu{
    margin-left: -35px
}
.menu_list > li {
    display: inline-block;
    border: 2px solid white;
    border-radius: 20%;
    width : 70px;
    height: 70px;
    margin-right: 10px;
}
.menu_list > li > a {
    color: inherit;
}
.menu_list > li > a >i {
    margin-top: 8px;
    font-size: 30px;
}
.menu_list > li > a >i > p {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
}